@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');

.contenedorservices {
    display: flex;
    justify-content: space-between;
}
.column {
    flex-basis: 30%;
    text-align: center;
  }
  h2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 30px;
  }
  h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 30px;
    margin-bottom: 30px;
      
  }

  li {
    list-style-type: none;
    margin-right: 40px;
    text-shadow: 2px 4px 4px rgba(48, 50, 51, 0.5);
    font-size: 20px;
  }
  .icons {
    font-size: 8em;
    text-shadow: 10px 4px 6px rgba(48, 50, 51, 0.5);
    
  }

  @media  screen and (min-width: 360px) and (max-width: 727px) {
         .contenedorservices {
        display: flex;
        flex-direction: column;
        width: 90%;
         }
         h2 {
          margin-right: 45px;
         }
  }